*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/*RIUTILIZZABILI */
.none{
  list-style: none;
}

.bianco{
  background-color: white;
}
.font-bianco{
  color: white;
}

.grigietto{
  background-color: #F2F2F2;
}

.ml-12{
  margin-left: 12px;
}

/* CORPO */
body {
  position: relative;
  background-color: white;
}

body .sfondo{
background-position: center 120px;
background-attachment: fixed;
background-image: url('https://img1.ak.crunchyroll.com/i/spire1/b6e71029617186a02596e0973bf56b1e1605029967_main.png');
background-repeat: no-repeat;
}

.container{
  width: 980px;
  margin: 0 auto;
}

/* HEADER */
nav{
  width: 980px;
  height: 60px;
  display: flex;
  position: fixed;
  top: 0px;
  background-color: white;
}

.logo{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo img{
  width: 60%;
}

.menu{
  width: 50%;
  display: flex;
}

.menu ul{
  display: flex;
  text-decoration: none;

}

.menu ul li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  line-height: 60px;
  margin-right: 25px;
}

.menu ul li a:hover{
  color: #F47521;
}

.accedi{
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.accedi .button a{
  text-decoration: none;
  color: white;
  background-color: #F47521;
  padding: 5px 15px;
}

.adv{
  width: 100%;
  height: 60px;
  background-image: url('https://img1.ak.crunchyroll.com/i/spire3/4aa7890b2828fe74dbe0afacb5c694561611617291_main.png');
  background-position: center;
  position: fixed;
  top: 60px;
  left: 0px;
}

nav .logo,
.adv:hover{
  cursor: pointer;
}

/* CONTENUTO CENTRALE */
#app{
padding-top:  300px;
}
/* BARRE */
.barra-grigia{
  width: 980px;
  height: 40px;
  line-height: 40px;
  background-color: grey;
  display: flex;
}

.barra-grigia h3,
.barra-bianca h3
{
padding: 0px 15px;
}

.barra-grigia h3:hover,
.barra-bianca h3:hover{
cursor: pointer;
color: rgb(20, 175, 170);
}

.barra-bianca{
  width: 980px;
  height: 40px;
  line-height: 40px;
  background-color: white;
  display: flex;
}
.barra-bianca h3{
  color: grey;
}

.inner-container{
display: flex;
}

/* LATO SX */
.sx{
  width: 650px;
}
/* COVER ANIME */
.all-anime{
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
}

.anime{
  width: calc(100% / 4);
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.anime-cover:hover{
  box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.3);
  cursor: pointer;
}

.anime-cover{
  width: 136px;
  background-color: white;
}

.anime .anime-cover img{
  height: 189px;
  padding: 12px 12px 5px 12px;
}

.anime .nome-anime{
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.anime .episodi{
  padding-top: 2px;
  padding-bottom: 10px;
  font-size: 11px;
  color: grey;
}

/* TO DO */
.lista{
  margin: 25px;
  border: 1px solid #F47521;
}

.lista .lista-container{
  margin-left: 20px;
}

.lista .barra-grigia{
  width: 100%;
}

.lista .barra-grigia h2{
  font-size: 20px;
  margin-left: 20px;
  margin-right: 40px;
  color: white;
}

.lista .lista-container h3{
  color: #F47521;
}

.lista li{
  padding: 10px 0;
  font-size: 15px;
  border-bottom: 1px solid grey;
}

.lista li i{
  padding-left: 25px;
}

.lista h4{
  color: grey;
}


/* LATO DX */
.dx{
  width: 330px;
}

.dx .laterali{
  margin-top: 20px;
}

.dx .laterali a{
  text-decoration: none;
  color: #0a6da4;
}

.dx .laterali a:hover{
  text-decoration: underline;
}

.dx .laterali>h4{
  border-top: 1px solid #ccc;
  padding: 10px 0 8px;
}

.dx .laterali p{
  font-size: 12px;
  padding-bottom: 8px;
}

.dx .laterali h4{
  font-size: 13px;
  font-weight: 700;
}

/* EPISODI DX */
.show{
  margin-right: 10px;
  display: flex;
}

.show:hover{
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.3);
}
.show .locandina,
.show .info{
  padding: 5px;
}

.dx .laterali .show h3{
  font-size: 13px;
  padding: 5px 0;
}

.dx .laterali .video{
  font-size: 12px;
  color: grey
}














































































/* . */
