<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Cerca fra gli anime più popolari</title>
</head>
<body>
  <div class="container">
    <!-- HEADER -->
    <nav>
      <div class="logo">
        <img src="https://www.crunchyroll.com/about/logos/crunchyroll_logo_horizontal.png" alt="logo">
      </div>
      <div class="menu">
        <ul class="none">
          <li><a href="#">Show</a></li>
          <li><a href="#">Notizie</a></li>
          <li><a href="#">Games</a></li>
          <li><a href="#">Premium</a></li>
        </ul>
      </div>
      <div class="accedi">
        <div class="button"><a href="#">Accedi</a></div>
      </div>
    </nav>
  </div>

  <div class="adv"></div>
  <!-- HEADER -->

  <div class="sfondo">
    <div class="container" id="app">
      <div class="bianco">
        <!-- BARRA GRIGIA -->
        <div class="barra-grigia">
          <h3 class="bianco">Anime</h3>
          <h3 class="font-bianco">Drama</h3>
        </div>
        <!-- BARRA BIANCA -->
        <div class="barra-bianca">
          <h3>Popolari</h3>
          <h3>Simulcast</h3>
          <h3>Aggiorna</h3>
          <h3>Alfabetico</h3>
          <h3>Alfabetico</h3>
          <h3>Generi</h3>
          <h3>Stagioni</h3>
        </div>

        <div class="inner-container grigietto">
          <!-- LATO SX -->
          <div class="sx">
            <!-- COVER ANIME -->
            <div class="all-anime">

              <div class="anime">
                <div class="anime-cover">
                  <img src="https://img1.ak.crunchyroll.com/i/spire4/6fc4e475a391d3f1293c123c650ce5571441402678_thumb.jpg" alt="">
                  <div class="nome-anime ml-12">Monster Musume</div>
                  <div class="episodi ml-12">12 Video</div>
                </div>
              </div>
              <div class="anime">
                <div class="anime-cover">
                  <img src="https://img1.ak.crunchyroll.com/i/spire4/e8e3c09f8450c3d8a90a03e2198688f61515484130_thumb.jpg" alt="">
                  <div class="nome-anime ml-12">DARLING in the FRANXX</div>
                  <div class="episodi ml-12">24 Video</div>
                </div>
              </div>
              <div class="anime">
                <div class="anime-cover">
                  <img src="https://img1.ak.crunchyroll.com/i/spire2/4dd9e4a8c791dad5b1620a15de09be461586045586_thumb.jpg" alt="">
                  <div class="nome-anime ml-12">Digimon Adventure</div>
                  <div class="episodi ml-12">33 Video</div>
                </div>
              </div>
              <div class="anime">
                <div class="anime-cover">
                  <img src="https://img1.ak.crunchyroll.com/i/spire4/736dc030956a8f0b90aab26f396e6c1e1594243278_thumb.jpg" alt="">
                  <div class="nome-anime ml-12">To Aru Kogaku No Railgun</div>
                  <div class="episodi ml-12">25 Video</div>
                </div>
              </div>
              <div class="anime">
                <div class="anime-cover">
                  <img src="https://img1.ak.crunchyroll.com/i/spire2/8a6279fc503fe64b451a0e63afc658281610403545_thumb.jpg" alt="">
                  <div class="nome-anime ml-12">The Quintessential Quintuplets</div>
                  <div class="episodi ml-12">16 Video</div>
                </div>
              </div>
              <div class="anime">
                <div class="anime-cover">
                  <img src="https://img1.ak.crunchyroll.com/i/spire2/cccce22d1dfaaf713284a617ee0b539a1572467883_thumb.jpg" alt="">
                  <div class="nome-anime ml-12">My Hero Acamedia</div>
                  <div class="episodi ml-12">37 Video</div>
                </div>
              </div>
              <div class="anime">
                <div class="anime-cover">
                  <img src="https://img1.ak.crunchyroll.com/i/spire3/04b29833ccaaf2ee6bda1d08f2f02ecf1539039197_thumb.jpg" alt="">
                  <div class="nome-anime ml-12">Jojo's Bizarre Adventure</div>
                  <div class="episodi ml-12">155 Video</div>
                </div>
              </div>
              <div class="anime">
                <div class="anime-cover">
                  <img src="https://img1.ak.crunchyroll.com/i/spire2/486f88e5889422c72ab7b12a58f794721554828665_thumb.jpg" alt="">
                  <div class="nome-anime ml-12">One-Punch Man</div>
                  <div class="episodi ml-12">13 Video</div>
                </div>
              </div>
              <div class="anime">
                <div class="anime-cover">
                  <img src="https://img1.ak.crunchyroll.com/i/spire3/02efb5862c8f76d2d9239913c3c323d71475742970_thumb.jpg" alt="">
                  <div class="nome-anime ml-12">Keijo</div>
                  <div class="episodi ml-12">12 Video</div>
                </div>
              </div>
              <div class="anime">
                <div class="anime-cover">
                  <img src="https://img1.ak.crunchyroll.com/i/spire4/8056a82e973dde98ebb82abd39dc69731564519729_thumb.jpg" alt="">
                  <div class="nome-anime ml-12">One Piece</div>
                  <div class="episodi ml-12">245 Video</div>
                </div>
              </div>
              <div class="anime">
                <div class="anime-cover">
                  <img src="https://img1.ak.crunchyroll.com/i/spire2/54c15675670ba44c1f98c3e11ba0cddf1515030877_thumb.jpg" alt="">
                  <div class="nome-anime ml-12">Gintama</div>
                  <div class="episodi ml-12">103 Video</div>
                </div>
              </div>
              <div class="anime">
                <div class="anime-cover">
                  <img src="https://img1.ak.crunchyroll.com/i/spire3/43d580a5ec49edf6101a573e267500501603756654_thumb.jpg" alt="">
                  <div class="nome-anime ml-12">Tower of God</div>
                  <div class="episodi ml-12">13 Video</div>
                </div>
              </div>

            </div>
            <!-- FINE ANIME -->

            <!-- ALLTODO-->
            <div class="nuovo-todo">
              <input type="text" @keyup.enter="aggiungiTodo" v-model="todosNuovo" placeholder="Inserisci qui">
              <button @click="aggiungiTodo">Aggiungi</button>
            </div>

            <div class="all-todos">
              <h2>cose da fare</h2>
              <ul class="none">
                <li v-for="(todo, index) in todos"> {{todo}}
                <i class="fas fa-times" @click="cancellaTodo(index)"></i>
                </li>
              </ul>

              <span>Cancella tutto</span>
              <i class="fas fa-times" @click="cancellaTutto"></i>
              <h2>cose fatte</h2>
              <ul>
                <li v-for="(todo, index) in todosCancellati"> {{todo}}
                <i class="fas fa-window-restore" @click="ripristinaTodo(index)"></i>
                <i class="fas fa-times" @click="cancellaDefinitivamente(index)"></i>
                </li>
              </ul>
            </div>
          </div>

          <!-- LATO DX -->
          <div class="dx">
            <!-- PRIMO DIV -->
            <div class="laterali">
              <h4>Prova il periodo di prova gratuito</h4>
              <p>Nessuna pubblicità, video in full HD sul tuo computer, tv e dispositivi portatili.</p>
              <a href="#"><h4>Inizia il tuo periodo di prova gratuito di 14 giorni</h4></a>
            </div>
            <div class="laterali">
              <h4>Show in evidenza</h4>
              <!-- SHOW SINGOLARI  -->
              <div class="show">
                <div class="locandina">
                  <img src="https://img1.ak.crunchyroll.com/i/spire3/02c909684baa37d6ef70a9df742d58951610752067_small.jpg" alt="">
                </div>
                <div class="info">
                  <h3>JUJUTSU KAISEN</h3>
                  <div class="video">22 Video</div>
                </div>
              </div>

              <div class="show">
                <div class="locandina">
                  <img src="https://img1.ak.crunchyroll.com/i/spire3/b01ecacfed8ef6d992dc914643f4383e1610408148_small.jpg" alt="">
                </div>
                <div class="info">
                  <h3>So I'm a Spider, So What?</h3>
                  <div class="video">4 Video</div>
                </div>
              </div>

              <div class="show">
                <div class="locandina">
                  <img src="https://img1.ak.crunchyroll.com/i/spire1/2dfdac3e9a82ae6b112e590ffc3f44531601686734_small.jpg" alt="">
                </div>
                <div class="info">
                  <h3>DragonQuest: The Adventureof Dai</h3>
                  <div class="video">16 Video</div>
                </div>
              </div>

              <div class="show">
                <div class="locandina">
                  <img src="https://img1.ak.crunchyroll.com/i/spire3/70740067e96df4abe309bf512dfd3bf11610177676_small.jpg" alt="">
                </div>
                <div class="info">
                  <h3>Dr.Ramune -  Mysterious Disease Specialist</h3>
                  <div class="video">3 Video</div>
                </div>
              </div>

              <div class="show">
                <div class="locandina">
                  <img src="https://img1.ak.crunchyroll.com/i/spire1/6a32bea5b3b9d283da90b812af80a0db1603340809_small.jpg" alt="">
                </div>
                <div class="info">
                  <h3>D4DJ First Mix</h3>
                  <div class="video">13 Video</div>
                </div>

              </div>
            </div>
            <div class="laterali">
              <h4>Programmazione di questa stagione</h4>
              <p>Guarda i nuovi simulcast per questa stagione e quelli che continuano dalle scorse stagioni! Puoi anche controllare il calendario delle uscite per le date precise.</p>
              <a href="#"><h4>Guarda la programmazione della stagione</h4></a>
            </div>
            <div class="laterali">
              <h4>Cerca per generi</h4>
              <p>Stai cercando qualcosa di più specifico? Prova a cercare per genere.</p>
              <a href="#"><h4>Avvia ricerca per genere</h4></a>
            </div>

          </div>
      </div>
    </div>
  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
